<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/header :: head"></head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <form action="#" th:action="@{/admin/addAuthor}" th:object="${author}" method="post">
            <label for="authorName" th:text="#{addAuthorName}">Author name</label>
            <input type="text" th:field="*{name}" id="authorName"/>
            <br/>
            <input type="submit" th:value="#{addAuthorSubmit}"/>
        </form>
    </body>
</html>
