<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments/header :: head"></head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <form action="#" th:action="@{/admin/addBook}" th:object="${formBook}" method="post">
            <label for="bookTitle" th:text="#{addBookTitle}">Book title</label>
            <br/>
            <input type="text" th:field="*{title}" id="bookTitle">
            <br/>
            <label for="bookSeries" th:text="#{addBookSeries}">Book series</label>
            <br/>
            <input type="text" th:field="*{series}" id="bookSeries">
            <br/>
            <label for="bookAuthors" th:text="#{addBookAuthors}"></label>
            <br/>
            <select multiple name="bookAuthors" th:field="*{authors}" id="bookAuthors">
                <option th:each="author: ${authors}" th:value="${author.getId()}" th:text="${author.getName()}"></option>
            </select>
            <br/>
            <input type="submit" th:value="#{addBookSubmit}"/>
        </form>
    </body>
</html>
