<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments/header :: head"></head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <form action="#" th:action="@{/admin/addReader}" th:object="${reader}" method="post">
            <label for="readerEmail" th:text="#{addReaderEmail}">Reader email</label>
            <input type="text" th:field="*{email}" id="readerEmail"/>
            <br/>
            <label for="readerName" th:text="#{addReaderName}">Reader name</label>
            <input type="text" th:field="*{name}" id="readerName"/>
            <br/>
            <label for="roles" th:text="#{addReaderRole}">Role :</label>
            <select name="roles" th:field="*{role}" id="roles">
                <option value="READER" th:text="#{addReaderRoleReader}">Reader</option>
                <option value="ADMIN" th:text="#{addReaderRoleAdmin}">Admin</option>
            </select>
            <br/>
            <label for="readerPassword" th:text="#{addReaderPassword}">Reader password</label>
            <input type="password" th:field="*{password}" id="readerPassword">
            <br/>
            <input type="submit" th:value="#{addReaderSubmit}"/>
        </form>
    </body>
</html>
