<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/header :: head"></head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <form action="#" th:action="@{/admin/updateReader}" th:object="${reader}" method="post">
            <label for="newName" th:text="#{updateReaderName}">New name</label>
            <input type="text" th:field="*{name}" id="newName"/>
            <input type="hidden" th:field="*{id}"/>
            <input type="submit" th:value="#{updateReaderSubmit}"/>
        </form>
        <button class="btn btn-danger" th:onclick="'javascript:deleteUser(' + ${reader.id} + ');'" th:text="#{updateReaderDelete}">Delete user</button>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

        <script type="application/ecmascript">
            async function deleteUser(id){
                $.ajax({
                    url: '/admin/deleteReader/' + id,
                    type: 'DELETE',
                    success: function() {
                        const ref = window.location.href;
                        const newLocation = ref.slice(0, ref.indexOf("/admin/updateReader"));
                        window.location.href = newLocation;
                    }
                });
            }
        </script>

    </body>
</html>
