<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <img src="/icons/home-sign.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                <span th:text="#{navbarHome}">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/books">
                <img src="/icons/book-reader-sign.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                <span th:text="#{navbarBooks}">List of books</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/book">
                <img src="/icons/book-reader-sign.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                <span th:text="#{navbarBook}">Current book</span>
            </a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link" href="/admin/addReader">
                <img src="/icons/plus-sign.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                <span th:text="#{navbarAddReader}">Add Reader</span>
            </a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link" href="/admin/addBook">
                <img src="/icons/plus-sign.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                <span th:text="#{navbarAddBook}">Add Book</span>
            </a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link" href="/admin/addAuthor">
                <img src="/icons/plus-sign.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                <span th:text="#{navbarAddAuthor}">Add Author</span>
            </a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link" href="/admin/readers">
                <img src="/icons/book-reader-sign.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                <span th:text="#{navbarReaders}">List of readers</span>
            </a>
        </li>
    </ul>
    <form class="form-inline" action="/logout" method="post">
        <input type="submit" class="btn btn-outline-warning my-2 my-sm-0" th:value="#{navbarLogout}"/>
        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
    </form>
</nav>
