<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments/header :: head"></head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div th:if="${books_list.empty}">
            <span th:text="#{booksNotFound}">No books found.</span>
        </div>
        <div class="text-center" th:if="${currentBook ne null}">
            <span th:text="#{booksFirstTitle}">Your current book is </span>
            <span th:text="${currentBook.getTitle()}"></span>
            <span th:if="${currentBook instanceof T(com.miage.ari.library.bo.Comic)}">
                <span th:text="#{booksSecondTitle}"> of the series </span>
                <span th:text="${currentBook.getSeries()}"></span>
            </span>
        </div>
        <div class="container">
            <div class="row mt-2">
                <div class="col text-center text-primary" th:text="#{booksName}">Book name</div>
                <div class="col text-center text-primary" th:text="#{booksSeries}">Series</div>
                <div class="col text-center text-primary" th:text="#{booksAuthors}">Authors</div>
                <div class="col text-center text-primary" th:text="#{booksReservationTitle}">Reservation</div>
            </div>
            <div class="row mt-2" th:each="book: ${books_list}">
                <div class="col text-center"><span th:text="${book.getTitle()}">Book name</span></div>
                <div class="col text-center"><span th:if="${book instanceof T(com.miage.ari.library.bo.Comic)}" th:text="${book.getSeries()}">Series</span></div>
                <div class="col text-center"><span th:text="${#strings.listJoin(book.authors.![name], ', ')}">Authors</span></div>
                <div class="col text-center"><button class="btn btn-outline-primary" th:onclick="'javascript:takeBook(' + ${book.getId()} + ');'" th:text="#{booksReservation}">Reserve</button></div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

        <script type="application/ecmascript">
            async function takeBook(id){
                $.ajax({
                    url: '/takeBook/' + id,
                    type: 'POST',
                    success: function() {
                        window.location.href = "/books";
                    }
                });
            }
        </script>
    </body>
</html>
