<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments/header :: head"></head>
    <body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="text-center" th:if="${book == null}">
        <span th:text="#{bookDetailsNotFound}">You don't have a book.</span>
    </div>
    <div th:if="${book ne null}">
        <div class="text-center">
            <span th:text="#{bookDetailsFirstTitle}">Your current book is </span>
            <span th:text="${book.getTitle()}"></span>
            <span th:if="${book instanceof T(com.miage.ari.library.bo.Comic)}">
                <span th:text="#{bookDetailsSecondTitle}"> of the series </span>
                <span th:text="${book.getSeries()}"></span>
            </span>
        </div>
        <div class="text-center"><button class="btn btn-outline-primary" th:onclick="'javascript:removeBook();'" th:text="#{bookDetailsButton}">Give back the book</button></div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script type="application/ecmascript">
        async function removeBook(){
            $.ajax({
                url: '/book',
                type: 'POST',
                success: function() {
                    window.location.href = "/books";
                }
            });
        }
    </script>
    </body>
</html>
