<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="text-center">
        <h2 class="text-center" th:text="#{indexTitle}">Welcome in our library !</h2>
        <span class="text-center" th:text="#{indexDescription}">Here, you will be able to find all the books of the library.</span>
        <h4 class="text-center" th:text="#{indexWarning}">You can reserve only ONE book at a time !</h4>
    </div>
    <span th:text="#{indexSwitch.change}"></span>
    <button class="btn btn-outline-primary" type="button" th:text="#{indexSwitch.english}" onclick="window.location.href='/?lang=en'"></button>
    <button class="btn btn-outline-primary" type="button" th:text="#{indexSwitch.french}" onclick="window.location.href='/?lang=fr'"></button>
</body>
</html>
