<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head"></head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:if="${readers_list.empty}">
        <span th:text="#{readersNotFound}">No readers found.</span>
    </div>
    <div class="container">
        <div class="row mt-2" th:each="reader: ${readers_list}">
            <div class="col"><span th:text="${reader.getName()}">Name</span></div>
            <a class="nav-link" th:href="@{'/admin/updateReader/' + ${reader.getId()}}">
                <img src="/icons/edit-sign.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                <span th:text="#{readersUpdate}">Update Reader</span>
            </a>
        </div>
    </div>
</body>
</html>
